html{
    
    
}

h1, h2, h3 {
    
    font-family: 'Exo', sans-serif;
    color: #AFC0E6;
}

p {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #AFC0E6;
}

img {
    height: 500px;
    width: 375px;
    margin: auto;
    vertical-align: center;
}

.center {
  display: block;
  margin: 0 auto;
}

body {
    
  width: 900px;
  margin: 0 auto;
  background-color: #536BA3;
  padding: 0 20px 20px 20px; 
    
}